{{define "title"}}
ERC Exercise Admin Login
{{end}}

{{define "container"}}
<div class="row">
	<div class="col">
		<h1>ERC Exercise Admin Login</h1>
	</div>
	<div class="col-auto text-end">
		<button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#pb_admin_modal">
			PocketBase Admin
			<i class="ms-1 bi bi-box-arrow-up-right"></i>
		</button>
		<a href="/monitor" target="_blank" class="btn btn-primary">
			Monitor
			<i class="ms-1 bi bi-box-arrow-up-right"></i>
		</a>
	</div>
</div>
<form id="login_form">
	<div class="mb-4">
		<label for="email" class="form-label fs-5 fw-bold">Email</label>
		<input type="email" class="form-control" id="email" name="email" required>
	</div>
	<div class="mb-4">
		<label for="password" class="form-label fs-5 fw-bold">Password</label>
		<input type="password" class="form-control" id="password" name="password" required>
	</div>
	<button id="submit" class="btn btn-primary" type="submit">
		<span class="spinner-grow spinner-grow-sm"></span>
		Log in
	</button>
</form>

<!-- pocketbase admin confirm modal -->
<div class="modal fade" id="pb_admin_modal" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">PocketBase Admin</h4>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<p>You are about to open the PocketBase Admin UI in a new tab. PocketBase is the framework this application is built on. The Admin UI has full control over the whole application, and as such, allows you to break things if you don't know what you're doing. With great power comes great responsibility.</p>
				<p>The Admin UI is required for some actions, e.g. creating new admin accounts (available in the "Settings" section), and editing the list of items when your browser is unreasonably slow using this UI.</p>
				<p>Your credentials are the same ones you used to log in to this UI.</p>
				<p class="mb-0">Are you sure you want to continue?</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
				<button type="button" id="open_pb_admin" class="btn btn-warning" data-bs-dismiss="modal">
					Open PocketBase Admin
					<i class="ms-1 bi bi-box-arrow-up-right"></i>
				</button>
			</div>
		</div>
	</div>
</div>
{{end}}

{{define "script"}}
<script type="text/javascript">
	$(() => {
		// handle submit
		const $submit = $('#submit')
		$('#login_form').on('submit', () => {
			$submit.prop('disabled', true)

			// log in
			pb.admins.authWithPassword($('#email').val(), $('#password').val())
				.then(() => {
					if (pb.authStore.isValid) {
						window.location.href = "/admin"
					}
				})
				.catch(error => {
					alert(`There was an error while logging you in: ${error}`)
					$submit.prop('disabled', false)
				})

			return false
		})

		// open pb admin in new tab and dismiss modal
		$('#open_pb_admin').on('click', function () {
			window.open('/_', '_blank');
		});
	})
</script>
{{end}}